body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.chatBoxBtn{
    overflow: hidden;
    position: sticky;
}

.chat-box {
    width: 80%;
    height: 60cap;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* Added height to limit chat box height */
    overflow: hidden;
    /* Hide overflow */
    box-shadow: 5px 5px 15px #333;
}

.chat-box h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    margin-top: 0;
    padding: 10px;
    font-size: 30px;

}

.chat-container {
    flex-grow: 1;
    /* Grow to fill remaining space */
    padding: 20px;
    overflow-y: auto;
}

.chat-message {
    margin-bottom: 10px;
}

.chat-message .user {
    font-weight: bold;
    color: #333;
}

.input-container {
    padding: 10px 20px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1;
    /* Take remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-container button {
    padding: 8px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    outline: none;
}

.input-container button:hover {
    background-color: #45a049;
}

.received {
    text-align: right;
}

.received .user {
    color: #888;
}