body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #localVideoContainer,
  #remoteVideoContainer {
    width: 50%;
    float: left;
    margin: 20px;
    border: 7px  #c6c5ca;
    outline: 2px solid black;
    
  }
  
  video {
    width: 100%;
    height: auto;
    border: 1px solid #9b7575;
  }
  
  #controls {
    clear: both;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  