
body {
    background-color: #FFF2D7;
    padding-bottom: 50px;
  }

  div.rem{font-size: 20px;
    font-weight: 800;
    margin: 20px;
    padding: 35px;
    width: 60vw;
    text-align: center;
    border: 5px solid white;
    box-shadow: 2px 3px 15px;
position: relative;
left: 180px;}
img.image{ display: flex;
justify-content: center; }